@font-face {
  font-family: 'Futura';
  src: url(Fonts/Futura.ttc);
  font-family: 'Futura Bold';
  src: url(Fonts/Futura Bold.ttf);
}


body {
	margin: 0;
	padding: 0;
  font-family: 'Futura', sans-serif;
}


#home {
  height: 100vh;
  width: 100%;
  position: relative;
}
h3 {
  position: absolute;
  font-size: 4vw;
  line-height: 13vh;
  left: 10vw;
  top: 20vh;
  margin: 0;
}
#h3 {
  position: absolute;
  left: 10vw;
  top: 13vh;
  font-size: 3vw;
  margin: 0;
}
#portfolio {
  position: absolute;
  width: 60vw;
  left: 10vw;
  top: 20vh;
}
#h4 {
  position: absolute;
  left: 10vw;
  bottom: 10vh;
  font-size: 1.5vw;
  margin: 0;
}
span {
  color: #FFBE2E;
}

#about {
  height: 100vh;
  width: 100%;
  background-color: white;
  background-image: url('Images/Background About.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
#about p {
  position: absolute;
  width: 30vw;
  left: 10vw;
  top: 30vh;
  font-family: 'Futura';
  font-size: 2vh;
  margin: 5vh 0 0 0;
}

#megafone {
  position: absolute;
  bottom: 10vh;
  right: 10vw;
  width: 25vw;
}
#sound {
  position: absolute;
  top: 50vh;
  right: 30vw;
  width: 15.5vw;
  animation-name: zoom;
  animation-duration: 3s;
  animation-iteration-count: infinite; 
}
@keyframes zoom {
  from {width: 15.5vw;}
  to {width: 20vw;}
}





#work {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.image-container {
  background: url('Images/Billboard 0.png') center center no-repeat;
  background-size: contain;

  height: 80vh;
  width: 30vw;
  position: absolute;
  top: 15vh;
  left: 30vw;

  transition: all .6s ease-in-out;
}

.image-container:hover {
  background-image: url('Images/Billboard 1.png');
}
.image-container-small {
  background: url('Images/Billboard Small 0.png') center center no-repeat;
  background-size: contain;

  height: 50vh;
  width: 20vw;
  position: absolute;
  top: 0vh;
  left: 55vw;

  transition: all .6s ease-in-out;
}

.image-container-small:hover {
  background-image: url('Images/Billboard Small 1.png');
}

#ladder {
  position: absolute;
  bottom: 7vh;
  left: 7vw;
  width: 7vw;
}
#bin {
  position: absolute;
  bottom: 25vh;
  right: 15vw;
  width: 2vw;
}

#tumpero_page {
  height: 100vh;
  width: 100%;
  background-color: white;
  position: relative;
  visibility: hidden;
}

#buttonandroid {
  position: absolute;
  top: 20vh;
  left: 30vw;
  height: 10vh;
}
#mobile {
  position: absolute;
  right: 200px;
  top: 302px;
  z-index: 1;
}
.exit {
  position: absolute;
  height: 5vh;
  width: 5vh;
  top: 10vh;
  right: 5vw;
  cursor: pointer;
}

#tumpero_page.open {
  visibility: visible;
}
#tumpero_page.close {
  visibility: hidden;
}

#carousel_show2 {
  position: absolute;
  top: 35vh;
  left: 10vw;
  height: 351px;
  width: 413px;
  margin: auto;
  overflow: hidden;
  margin: 5vh 0 0 0;
}
#carousel_slide2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#carousel_slide2 div {
  height: 341px;
  width: 413px;
  font-size: 1.3vw;
  width: 100%;
  padding-bottom: 10px;
}
#carousel_slide2 div span {
  font-size: 1vw;
  color: gray;
}
#carousel_show {
  position: absolute;
  top: 352px;
  right: 303px;
  height: 176px;
  width: 310px;
  transform: rotate(-60deg) skewY(30deg);
  margin: auto;
  overflow: hidden;
}
#carousel_slide {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#carousel_slide img {
  width: 308px;
  object-fit: cover;
}
#prevBtn {
  cursor: pointer;  
  position: absolute;
  right: 550px;
  top: 350px;
  z-index: 3;
}
#nextBtn {
  cursor: pointer;
  position: absolute;
  right: 260px;
  top: 535px;
  z-index: 3;
}

#artwork_page {
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  visibility: hidden;
}

#artwork_page h3 {
  font-size: 5vh;
  left: 5vw;
  top: 10vh;
  font-weight: lighter;
  line-height: 10vh;
}
#artwork_page h4{
  position: absolute;
  left: 5vw;
  top: 15vh;
  width: 90vw;
  font-weight: lighter;
}
#artwork_page h4 a {
  text-decoration: none;
}
#gallery_wrap {
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 70vh;
  padding: 25vh 5vw 10vh 5vw;
}
.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: flex 0.8s ease;
  border: 0.3vh solid white;
}
.item:hover {
  flex: 7;
}
.item1 {
  background-image: url(Images/Mac1.jpg);
}
.item2 {
  background-image: url(Images/Mac2.jpg);
}
.item3 {
  background-image: url(Images/Mac3.jpg);
}
.item4 {
  background-image: url(Images/Mac4.jpg);
}
.item5 {
  background-image: url(Images/Mac5.jpg);
}
.item6 {
  background-image: url(Images/Julia1.jpg);
}
.item7 {
  background-image: url(Images/Julia2.jpg);
}
.item8 {
  background-image: url(Images/Julia3.jpg);
}
.item9 {
  background-image: url(Images/Julia4.jpg);
}
.item10 {
  background-image: url(Images/Julia5.jpg);
}
.item11 {
  background-image: url(Images/Braza1.jpg);
}
.item12 {
  background-image: url(Images/Braza2.jpg);
}
.item13 {
  background-image: url(Images/Braza4.jpg);
}
.item14 {
  background-image: url(Images/Braza5.jpg);
}
.item15 {
  background-image: url(Images/Braza3.jpg);
}
.item16 {
  background-image: url(Images/Tumpero1.jpg);
}
.item17 {
  background-image: url(Images/Tumpero2.jpg);
}
.item18 {
  background-image: url(Images/Tumpero3.jpg);
}
.item19 {
  background-image: url(Images/Tumpero4.jpg);
}
.item20 {
  background-image: url(Images/Tumpero5.jpg);
}
.item21 {
  background-image: url(Images/Tower1.jpg);
}
.item22 {
  background-image: url(Images/Tower2.jpg);
}
.item23 {
  background-image: url(Images/Tower3.jpg);
}
.item24 {
  background-image: url(Images/Tower4.jpg);
}
.item25 {
  background-image: url(Images/Tower5.jpg);
}

#artwork_page.open {
  visibility: visible;
}
#artwork_page.close {
  visibility: hidden;
}
#work.expand {
  height: 500vh;
}
#work.contract {
  height: 100vh;
}
#tower {
  position: absolute;
  top: 0;
}
#julia {
  position: absolute;
  top: 100vh;
}
#cartaz {
  position: absolute;
  top: 200vh;
}
#mac {
  position: absolute;
  top: 300vh;
}
#ad_tumpero {
  position: absolute;
  top: 400vh;
}

#artwork_page.open {
  visibility: visible;
}
#artwork_page.close {
  visibility: hidden;
}

#code {
  height: 100vh;
  width: 100%;
  background-color: white;
  background-image: url('Images/Background Code.svg');
  background-size: cover;
  background-position: initial;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
#codes {
  position: absolute;
  width: 80vw;
  height: 80vh;
  left: 50%;
  top: 50%;
  margin: -37vh 0 0 -40vw;
}
#code_quase {
  position: absolute;
  height: 17vh;
  width: 15vw;
  top: 20vh;
  left: 60vw;
}
#code_portfolio {
  position: absolute;
  height: 17vh;
  width: 15vw;
  top: 37vh;
  left: 44vw;
}
#code_trckr {
  position: absolute;
  height: 17vh;
  width: 15vw;
  top: 55vh;
  left: 28vw;
}

#quase_page {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url('Images/Background Code.svg');
  position: relative;
  visibility: hidden;
}

#button_code {
  position: absolute;
  height: 20vh;
  top: 60vh;
  left: 75vw;
}
#button_livewebsite {
  position: absolute;
  height: 20vh;
  top: 47vh;
  left: 85vw;
}
#window_choque {
  position: absolute;
  left: 150px;
  top: 130px;
}
#window_tvquase {
  position: absolute;
  left: 440px;
  top: 350px;
}
#window_falha {
  position: absolute;
  left: 320px;
  top: 520px;
}
#window_oupm {
  position: absolute;
  left: 190px;
  top: 450px;
}

#tvquase_hyperlink_code {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 170px;
  left: 820px;
}
#tvquase_hyperlink_live {
  position: absolute;
  height: 150px;
  width: 150px;
  top: 410px;
  left: 1090px;
}

#quase_page.open {
  visibility: visible;
}
#quase_page.close {
  visibility: hidden;
}


#contact {
  height: 100vh;
  width: 100%;
  background-color: white;
  background-image: url('Images/Background Contact.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

}
#contact span {
  color: black;
}
#contact img {
  height: 25vh;
  left: 70vw;
}
#buttonbehance {
  position: absolute;
  top: 55vh;
}
#buttongithub {
  position: absolute;
  top: 35vh;
}
#buttonlinkedin {
  position: absolute;
  top: 15vh;
}
#buttonmail {
  position: absolute;
  top: -5vh;
}
#portfolio_isometric {
  position: absolute;
  background-image: url('Images/Portfolio Isometric.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 8vh;
  height: 8vh;
  left: 10vw;
  bottom: 5vh;
}


@media screen and (max-width: 768px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {
  #h3 {
    top: 18vh;
    font-size: 7vw;
    line-height: 5vh;
    word-spacing: -1vw;
  }
  #portfolio {
    width: 80vw;
    top: 23vh;
  }
  #h4 {
    font-size: 3vw;
    bottom: 15vh; 
  }

  #about h3,
  #work h3,
  #contact h3 {
    top: 5vh;
    font-size: 8vw;
  }
  #about span {
    color: black;
  }
  #code h3 {
    top: 8vh;
    font-size: 8vw;
  }
  #guy {
    top: 80vh;
    height: 13vh;
  }
  #about p {
    width: 80vw;
    font-size: 3vw;
    top: 10vh;
  }
  #gallery_wrap {
    flex-direction: column;
    height: 80vh;
    padding-top: 15vh;
  }
  #artwork_page h3 {
    font-size: 5vw;
    top: 2vh;
  }
  #artwork_page h4{
    position: absolute;
    padding-right: 5vw;
    top: 7vh;
    font-size: 2vw;
  }
  #exit, #exit2, #exit3 {
    top: 7vh;
    height: 3vh;
    width: 3vh;
  }
  #mobile {
    right: -40px;
    top: 330px;
  }
  #carousel_show {
    top: 380px;
    right: 63px;
  }
  #nextBtn {
    right: 40px;
    top: 555px;
  }
  #prevBtn {
    right: 300px;
    top: 370px;
  }
  
  #megafone {
    position: absolute;
    top: 60vh;
    right: 10vw;
    width: 60vw;
  }
  #sound {
    position: absolute;
    top: 70vh;
    right: 60vw;
    width: 15.5vw;
    animation-name: zoom;
    animation-duration: 3s;
    animation-iteration-count: infinite; 
  }
  #billboard_tumpero {
    width: 65vw;
    left: 10vw;
    top: 20vh;
  }
  #billboard_artwork {
    width: 33vw;
    height: 33vh;
    top: 5vh;
  }
  #ladder, #bin {
    transform: scale(2);
  }
  #codes {
    height: 36vh;
    width: auto;
    left: 50%;
    top: 50%;
    margin: -18vh 0 0 -33vh;
  }
  #contact {
    background-position: top;
  }
  #contact a img {
    width: 14vh;
    left: 60vw;
  }
  #buttonmail {
    top: 18vh;
  }
  #buttonlinkedin {
    top: 35vh;
  }
  #buttongithub {
    top: 52vh;
  }
  #buttonbehance {
    top: 69vh;
  }
  #buttonandroid {
    top: 6vh;
    left: 55vw;
    width: 5vw;
  }
  #carousel_show2 {
    position: absolute;
    left: 10vw;
    top: 10vh;
  }
  #carousel_slide2 div {
    height: 341px;
    width: 263px;
    font-size: 3vw;
    font-weight: lighter;
  }
  #carousel_slide2 div span {
    font-size: 2vw;
    color: gray;
  }
  #code_quase {
    height: 9vh;
    width: 25vw;
    top: 34vh;
    left: 65vw;
  }
  #code_portfolio {
    height: 9vh;
    width: 25vw;
    top: 43vh;
    left: 38vw;
  }
  #code_trckr {
    height: 9vh;
    width: 25vw;
    top: 51vh;
    left: 10vw;
  }
  #quase_title {
    position: absolute;
    top: 7vh;
    right: 5vw;
    height: 10vh; 
  }
  #window_choque {
    height: 25vh;
    left: 2vw;
    top: 20vh;
  }
  #window_falha {
    width: 70vw;
    left: 5vw;
    top: 55vh;
  }
  #window_tvquase {
    width: 70vw;
    left: 25vw;
    top: 40vh;
  }
  #window_oupm {
    left: 5vw;
    top: 40vh;
    height: 20vh;
  }
  #button_code {
    height: 10vh;
    top: 85vh;
    left: 20vw;
  }
  #button_livewebsite {
    height: 10vh;
    top: 85vh;
    left: 65vw;

}


