@font-face {
  font-family: 'Futura';
  src: url(Fonts/Futura.ttc);
  font-family: 'Futura Bold';
  src: url(Fonts/Futura Bold.ttf);
}


body {
	margin: 0;
	padding: 0;
  font-family: 'Futura', sans-serif;
  color: #271F3B;
}


#home {
  height: 100vh;
  width: 100%;
  position: relative;
}
h3 {
  position: absolute;
  font-size: 5vh;
  line-height: normal;
  left: 10vw;
  top: 15vh;
  margin: 0;
}
#h3_code {
  top: 150vh;
  color: white;
}
#h3 {
  position: absolute;
  left: 10vw;
  top: 13vh;
  font-size: 4vh;
  margin: 0;
}
#portfolio {
  position: absolute;
  width: 60vw;
  left: 10vw;
  top: 20vh;
}
#h4 {
  position: absolute;
  left: 10vw;
  bottom: 10vh;
  font-size: 2.3vh;
  margin: 0;
}
#about {
  height: 100vh;
  width: 100%;
  background-color: white;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
#about p {
  position: absolute;
  width: 30vw;
  left: 10vw;
  top: 20vh;
  font-family: 'Futura';
  font-size: 2.3vh;
  margin: 5vh 0 0 0;
}

#cabinet {
  position: absolute;
  bottom: 10vh;
  right: 10vw;
  height: 50vh;
}



#work {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #F3C72D;
  overflow: hidden;
}
#work_content {
  position: relative;
  background-image: url('Images/Image Work.svg');
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  width: 85vw;
  height: 100vh;
  margin-left: auto;
}

#billboard_tumpero {
  position: absolute;
  height: 27%;
  width: 25%;
  margin: 20% 25%;
}
#billboard_artwork {
  position: absolute;
  height: 23%;
  width: 17%;
  margin: 20% 76%;
}

#tumpero_page {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: white;
  visibility: hidden;
}

#buttonandroid {
  position: absolute;
  top: 15vh;
  left: 25vw;
  height: 6vh;
}
#mobile {
  position: absolute;
  right: 13vw;
  top: 5vh;
  z-index: 1;
}
.exit {
  position: absolute;
  height: 5vh;
  width: 5vh;
  top: 10vh;
  right: 5vw;
  cursor: pointer;
}

#tumpero_page.open {
  visibility: visible;
}
#tumpero_page.close {
  visibility: hidden;
}

#carousel_show_tumpero_text {
  position: absolute;
  top: 20vh;
  left: 10vw;
  height: 351px;
  width: 413px;
  margin: auto;
  overflow: hidden;
  margin: 5vh 0 0 0;
}
#carousel_slide_tumpero_text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#carousel_slide_tumpero_text div {
  height: 341px;
  width: 413px;
  font-size: 2.3vh;
  width: 100%;
  padding-bottom: 10px;
}
#carousel_slide_tumpero_text div span {
  font-size: 1vw;
  color: gray;
}
#carousel_show_tumpero {
  position: absolute;
  top: 267px;
  right: 244px;
  height: 159px;
  width: 352px;
  transform: rotate(-90deg) skewX(-15deg);
  margin: auto;
  overflow: hidden;
}
#carousel_slide_tumpero {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#carousel_slide_tumpero img {
  width: 356px;
  object-fit: contain;
}
#prevBtn {
  height: 5vh;
  cursor: pointer;  
  position: absolute;
  right: 550px;
  top: 290px;
}
#nextBtn {
  height: 5vh;
  cursor: pointer;
  position: absolute;
  right: 250px;
  top: 380px;
  z-index: 2;
}

#artwork_page {
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  visibility: hidden;
}

#artwork_page h3 {
  font-size: 5vh;
  left: 5vw;
  top: 10vh;
  line-height: normal;
}
#artwork_page h4{
  position: absolute;
  left: 5vw;
  top: 15vh;
  width: 90vw;
  font-size: 2vh;
  font-weight: lighter;
}
#artwork_page h4 a {
  text-decoration: none;
}
#gallery_wrap {
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 70vh;
  padding: 25vh 5vw 10vh 5vw;
}
.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: flex 0.8s ease;
  border: 0.3vh solid white;
}
.item:hover {
  flex: 7;
}
.item1 {
  background-image: url(Images/Mac1.jpg);
}
.item2 {
  background-image: url(Images/Mac2.jpg);
}
.item3 {
  background-image: url(Images/Mac3.jpg);
}
.item4 {
  background-image: url(Images/Mac4.jpg);
}
.item5 {
  background-image: url(Images/Mac5.jpg);
}
.item6 {
  background-image: url(Images/Julia1.jpg);
}
.item7 {
  background-image: url(Images/Julia2.jpg);
}
.item8 {
  background-image: url(Images/Julia3.jpg);
}
.item9 {
  background-image: url(Images/Julia4.jpg);
}
.item10 {
  background-image: url(Images/Julia5.jpg);
}
.item11 {
  background-image: url(Images/Braza1.jpg);
}
.item12 {
  background-image: url(Images/Braza2.jpg);
}
.item13 {
  background-image: url(Images/Braza4.jpg);
}
.item14 {
  background-image: url(Images/Braza5.jpg);
}
.item15 {
  background-image: url(Images/Braza3.jpg);
}
.item16 {
  background-image: url(Images/Tumpero1.jpg);
}
.item17 {
  background-image: url(Images/Tumpero2.jpg);
}
.item18 {
  background-image: url(Images/Tumpero3.jpg);
}
.item19 {
  background-image: url(Images/Tumpero4.jpg);
}
.item20 {
  background-image: url(Images/Tumpero5.jpg);
}
.item21 {
  background-image: url(Images/Tower1.jpg);
}
.item22 {
  background-image: url(Images/Tower2.jpg);
}
.item23 {
  background-image: url(Images/Tower3.jpg);
}
.item24 {
  background-image: url(Images/Tower4.jpg);
}
.item25 {
  background-image: url(Images/Tower5.jpg);
}

#artwork_page.open {
  visibility: visible;
}
#artwork_page.close {
  visibility: hidden;
}
#work.expand {
  height: 500vh;
}
#work.contract {
  height: 100vh;
}
#tower {
  position: absolute;
  top: 0;
}
#julia {
  position: absolute;
  top: 100vh;
}
#cartaz {
  position: absolute;
  top: 200vh;
}
#mac {
  position: absolute;
  top: 300vh;
}
#ad_tumpero {
  position: absolute;
  top: 400vh;
}

#artwork_page.open {
  visibility: visible;
}
#artwork_page.close {
  visibility: hidden;
}

#code {
  height: 240vh;
  width: 100%;
  background-color: #E0CFE2;
  background-image: url('Images/Background Code.svg');
  background-size: cover;
  background-position: initial;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}



#code_content {
  position: relative;
  background-image: url('Images/Image Code.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50vw;
  height: 80vh;
  top: 155vh;
  left: 50vw;
}

.d1 img {
  position: absolute;
  width: 70%;
  left: 0%;
  top: -90vh;
}
.d3 img {
  position: absolute;
  width: 100%;
  left: -20vw;
  top: 190vh;
}
.d4 img {
  position: absolute;
  width: 90%;
  left: 10%;
  top: 150vh;
}

#code_quase {
  position: absolute;
  height: 25%;
  width: 25%;
  top: 52%;
  left: 55%;
}
#code_portfolio {
  position: absolute;
  height: 25%;
  width: 25%;
  top: 63%;
  left: 1%;
}
#code_tower {
  position: absolute;
  height: 32%;
  width: 32%;
  top: 6%;
  left: 24%;
}

#quase_page {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #fffffd;
  visibility: hidden;
}
#carousel_show_quase_text {
  position: absolute;
  top: 20vh;
  left: 10vw;
  height: 351px;
  width: 413px;
  margin: auto;
  overflow: hidden;
  margin: 5vh 0 0 0;
}
#carousel_slide_quase_text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#carousel_slide_quase_text div {
  height: 341px;
  width: 413px;
  font-size: 2.3vh;
  width: 100%;
  padding-bottom: 10px;
}
#carousel_slide_quase_text div span {
  font-size: 1vw;
  color: gray;
}
#carousel_show_quase {
  position: absolute;
  top: 213px;
  right: 305px;
  height: 239px;
  width: 420px;
  transform: rotate(-16.6deg) skewX(-16deg);
  margin: auto;
  overflow: hidden;
}
#carousel_slide_quase {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#carousel_slide_quase img {
  width: 427px;
  object-fit: cover;
}
#imac_content {
  position: relative;
  background-image: url('Images/iMac.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 62vw;
  height: 80vh;
  right: 20vw;
  top: 15vh;
  z-index: 1;
}
#screen {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 40%;
  width: 30%;
  background-color: red;
  clip-path: polygon(0 42%, 100% 19%, 100% 79%, 0% 100%);

}

#quase_page.open {
  visibility: visible;
}
#quase_page.close {
  visibility: hidden;
}

#contact {
  height: 100vh;
  width: 100%;
  top: -2vh;
  background-color: white;
  background-image: url('Images/Background Contact.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#buttonbehance {
  position: absolute;
  left: 70vw;
  height: 7vh;
  top: 50vh;
}
#buttongithub {
  position: absolute;
  left: 78vw;
  height: 7vh;
  top: 50vh;
}
#buttonlinkedin {
  position: absolute;
  left: 63vw;
  height: 7vh;
  top: 50vh;
}
#buttonmail {
  position: absolute;
  left: 55vw;
  height: 7vh;
  top: 50vh;
}
#portfolio_isometric {
  position: absolute;
  background-image: url('Images/Portfolio Isometric.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 8vh;
  height: 8vh;
  right: 9vw;
  bottom: 3vh;
}
#t_rex {
  position: absolute;
  background-image: url('Images/T Rex.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 8vh;
  height: 8vh;
  right: 6vw;
  bottom: 5vh;
}


@media screen and (max-width: 768px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {
  #h3 {
    top: 18vh;
    font-size: 7vw;
    line-height: 5vh;
    word-spacing: -1vw;
  }
  #portfolio {
    width: 80vw;
    top: 23vh;
  }
  #h4 {
    font-size: 3vw;
    bottom: 15vh; 
  }

  #about h3,
  #work h3,
  #contact h3 {
    top: 5vh;
    font-size: 8vw;
  }
  #code h3 {
    top: 80vh;
    font-size: 8vw;
  }
  #about p {
    width: 80vw;
    font-size: 3vw;
    top: 10vh;
  }
  #work_content {
    position: relative;
    background-image: url('Images/Image Work Mobile 2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    margin-left: auto;
  }
  #code {
    height: 170vh;
    width: 100%;
    background-color: #E0CFE2;
    background-image: url('Images/Background Code Mobile.svg');
    background-size: cover;
    background-position: initial;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
  }
  #code_content {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
    top: 115vh;
    left: 0vw;
  }
  .d1 img {
    position: absolute;
    width: 130%;
    left: 0;
    top: -680px;
  }
  .d3 img {
    position: absolute;
    width: 100%;
    left: -30vw;
    top: 2180px;
  }
  .d4 img {
    position: absolute;
    width: 120%;
    left: 0;
    top: 1050px;
  }
  #gallery_wrap {
    flex-direction: column;
    height: 80vh;
    padding-top: 15vh;
  }
  #artwork_page h3 {
    font-size: 5vw;
    top: 2vh;
  }
  #artwork_page h4{
    position: absolute;
    padding-right: 5vw;
    top: 7vh;
    font-size: 2vw;
  }
  .exit {
    top: 3vh;
    height: 3vh;
    width: 3vh;
  }
  #mobile {
    right: -40px;
    top: 330px;
  }
  #carousel_show_tumpero {
    top: 380px;
    right: 63px;
  }
  #nextBtn {
    right: 40px;
    top: 555px;
  }
  #prevBtn {
    right: 300px;
    top: 370px;
  }
  
  #cabinet {
    position: absolute;
    top: 60vh;
    right: 10vw;
    width: 60vw;
  }
  #carousel_show_tumpero_text {
    position: absolute;
    left: 10vw;
    top: 10vh;
  }
  #carousel_slide_tumpero_text div {
    height: 341px;
    width: 263px;
    font-size: 3vw;
    font-weight: lighter;
  }
  #carousel_slide_tumpero_text div span {
    font-size: 2vw;
    color: gray;
  }
  #code_quase {
    height: 9vh;
    width: 25vw;
    top: 34vh;
    left: 65vw;
  }
  #code_portfolio {
    height: 9vh;
    width: 25vw;
    top: 43vh;
    left: 38vw;
  }
  #code_tower {
    height: 9vh;
    width: 25vw;
    top: 51vh;
    left: 10vw;
  }
  #contact {
    height: 100vh;
    width: 100%;
    top: -2vh;
    background-color: white;
    background-image: url('Images/Background Contact Mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  #contact {
    background-position: top;
  }
  #buttonmail {
    width: 7vh;
    left: 70vw;
    top: 28vh;
  }
  #buttonlinkedin {
    width: 6vh;
    left: 71vw;
    top: 39vh;
  }
  #buttongithub {
    width: 7vh;
    left: 70vw;
    top: 61vh;
  }
  #buttonbehance {
    width: 7vh;
    left: 70vw;
    top: 50vh;
  }
  #buttonandroid {
    top: 6vh;
    left: 55vw;
    width: 5vw;
  }

